.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.login {
  min-width: 30%;
  height: 350px;
  margin: 10px;
  background-color: aliceblue;
}

.signup-with-email {
  min-width: 30%;
  height: 350px;
  margin: 10px;
  background-color: aliceblue;
}

h1 {
  background-color: mediumaquamarine;
  margin: 0 0 10px;
  font-size: 2rem;
  padding: 10px;
  color: white;
}

input {
  width: 80%;
  margin: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  width: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  background-color: lightblue;
  border: 2px solid steelblue;
  border-radius: 5px;
}

.button-google {
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}

.home {
  text-align: center;
  margin-top: 50px;
}

hr {
  width: 90%;
  border-color: whitesmoke;
}

.loading {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 720px) {
  .top {
    flex-direction: column;
  }
}
